body {
  background-color: whitesmoke;
}

.container {
  position: fixed;
  bottom: 40px;
  width: 1500px;
  right: 0px;
}

h1 {
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 135px;
  margin-top: 20px;
  margin-left:15px;
  margin-bottom: 3px;
  line-height: 173px;
  color: #161616;
  position: center;
}

img {
  webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  height: 250px;
  width: 250px;
  display: flex;
  margin-left: 95px;
  margin-right: 30px;
          flex-direction: column;
          flex-wrap: wrap;
  float: left;
}

img:hover {
  opacity: .5;
}
