a {
  font-family: monospace;
  color: black;
  padding-right:100px;
  margin-top:40px;
  font-size: 20px;
  color:#00162b;
}

p{
  text-align: right;
  margin-top: 625px;
  font-size: 22px;
  font-family: monospace;
  font-style: italic;
  color:#00162b;
}
